<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.workbuddy.daily-checkin</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/sh</string>
    <string>__INSTALL_DIR__/scripts/run-checkin.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>__HOUR__</integer>
    <key>Minute</key>
    <integer>__MINUTE__</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>__INSTALL_DIR__/workbuddy-checkin.log</string>
  <key>StandardErrorPath</key>
  <string>__INSTALL_DIR__/workbuddy-checkin.log</string>
  <key>ProcessType</key>
  <string>Interactive</string>
</dict>
</plist>
